html, body {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-variant: small-caps;
    word-spacing: -0.3em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: lightgrey;
    image-rendering: crisp-edges;  /* Firefox */
    image-rendering: pixelated;    /* Chrome */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#smolpxlBar {
    background-color: lightgrey;
    margin: 0em;
    padding-top: 0.15em;
    padding-bottom: 0.15em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#smolpxlBar a {
    background-color: #eeeeee;
    color: black;
    display: inline-block;
    font-size: 95%;
    text-decoration: none;
    padding: 0.2em 0.4em;
    border-radius: 0.3em;
    border: 0.15em solid #2f4858;
    box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, .3);
    margin-right: 0.2em;
}

#smolpxlBar a span {
    display: flex;
    align-items: center;
}

#smolpxlBar a span img {
    height: 0.9em;
    width: 0.9em;
    margin-left: 0.3em;
}

#smolpxlBar a span img.leftimg {
    margin-left: 0em;
    margin-right: 0.3em;
}

#smolpxlBar a span span {
    margin-bottom: -0.15em;
}

.shareonBorder {
    position: absolute;
    top: 0em;
    left: 0em;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: 10;
}

.shareonBox {
    background-color: white;
    opacity: 1;
    width: 22em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    padding: 1.5em;
    border-radius: 1em;
}

.shareonBox h2 {
    margin: 0em 0em 0.5em 0em;
}

.shareonBox .shareonLink {
    display: flex;
    flex-direction: horizontal;
    align-items: center;
    margin-top: 1.1em;
}

.shareonBox .shareonLink input {
    flex-grow: 2;
    width: 10em;
    margin-left: 0.3em;
}

.shareonBox #shareonCopied {
    height: 1.3em;
    padding: 0.5em;
    text-align: right;
    font-size: 0.9em;
    color: #666666;
}

.shareon > .mastodon {
    background-color: #1f232b;
}

.shareon > .mastodon::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='61.076954mm' height='65.47831mm' viewBox='0 0 216.4144 232.00976'%3E%3Cpath d='M211.80734 139.0875c-3.18125 16.36625-28.4925 34.2775-57.5625 37.74875-15.15875 1.80875-30.08375 3.47125-45.99875 2.74125-26.0275-1.1925-46.565-6.2125-46.565-6.2125 0 2.53375.15625 4.94625.46875 7.2025 3.38375 25.68625 25.47 27.225 46.39125 27.9425 21.11625.7225 39.91875-5.20625 39.91875-5.20625l.8675 19.09s-14.77 7.93125-41.08125 9.39c-14.50875.7975-32.52375-.365-53.50625-5.91875C9.23234 213.82 1.40609 165.31125.20859 116.09125c-.365-14.61375-.14-28.39375-.14-39.91875 0-50.33 32.97625-65.0825 32.97625-65.0825C49.67234 3.45375 78.20359.2425 107.86484 0h.72875c29.66125.2425 58.21125 3.45375 74.8375 11.09 0 0 32.975 14.7525 32.975 65.0825 0 0 .41375 37.13375-4.59875 62.915' fill='%233088d4'/%3E%3Cpath d='M177.50984 80.077v60.94125h-24.14375v-59.15c0-12.46875-5.24625-18.7975-15.74-18.7975-11.6025 0-17.4175 7.5075-17.4175 22.3525v32.37625H96.20734V85.42325c0-14.845-5.81625-22.3525-17.41875-22.3525-10.49375 0-15.74 6.32875-15.74 18.7975v59.15H38.90484V80.077c0-12.455 3.17125-22.3525 9.54125-29.675 6.56875-7.3225 15.17125-11.07625 25.85-11.07625 12.355 0 21.71125 4.74875 27.8975 14.2475l6.01375 10.08125 6.015-10.08125c6.185-9.49875 15.54125-14.2475 27.8975-14.2475 10.6775 0 19.28 3.75375 25.85 11.07625 6.36875 7.3225 9.54 17.22 9.54 29.675' fill='%23fff'/%3E%3C/svg%3E");
    height: 22px;
    width: 22px;
    top: 7px;
    left: 7px;
    background-size: 22px 22px;
}

.bar {
    background-color: black;
    color: white;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    white-space: nowrap;
}

.bar > span:not(:empty) {
    margin: 0.1em;
}

#bottomBar {
    margin-top: -0.3em;
}

.overlay {
    display: none;
    position: absolute;
}

.overlayInside {
    display: table-cell;
    position: relative;
    vertical-align: middle;
}

.overlayInside > button {
    background: none;
    border: none;
    color: rgb(200, 200, 200);
    display: block;
    font-family: inherit;
    font-variant: inherit;
    font-weight: inherit;
    margin: 0.15em auto;
    padding: 0em 0.2em;
    white-space: nowrap;
    word-spacing: inherit;
}

.overlayInside > button:focus {
    color: white;
    outline: 1vw solid white;
}

.overlayInside > button:active {
    padding: 0em 0.2em;
}

.overlayInside > div {
    margin: 0.15em auto;
    color: white;
    width: max-content;
}

#menu {
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
    z-index: 3;
}

#message {
    z-index: 2;
}

#message, #message * {
    pointer-events: none;
}

.positionedText {
    z-index: 2;
    position: absolute;
}

.positionedText, .positionedText * {
    pointer-events: none;
}
